  .indicator.active {
    background-color: #000;
  }
 #indicators {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }