<div class="container">
    <h1 style="text-align: center;">Crea la tua recensione nella categoria Streaming!</h1>
    <button mat-raised-button style="margin-top: 15px;" *ngIf="!mostraRecensione" (click)=" mostraRecensione= true; mostraBottone = false">inizia ora</button>
    <div class="newRecensione-componente" *ngIf="mostraRecensione">
      <button class="btn" (click)="OnRecensioniNegoziOnline()">Vai a Negozi Online</button>  
      <h2 mat-dialog-title>Recensioni su {{categoria}}</h2>
    <mat-chip-listbox aria-label="Shop selection">
          <mat-chip-option [selected]="negozioCorrente === 'Youtube'" (click)="selezionaNegozio('Youtube')">
            <img matChipAvatar src="../../../assets/img/yt-logo.png" alt="Youtube"/>
            Youtube
          </mat-chip-option>
          <mat-chip-option   [selected]="negozioCorrente === 'Twitch'" (click)="selezionaNegozio('Twitch')">
            <img matChipAvatar src="../../../assets/img/twitch-logo.png" alt="Twitch"/>
            Twitch
          </mat-chip-option> 
          <mat-chip-option  [selected]="negozioCorrente === 'Netflix'" (click)="selezionaNegozio('Netflix')">
            <img matChipAvatar src="../../../assets/img/netflix-logo.png" alt="Netflix"/>
            Netflix
          </mat-chip-option>
          <mat-chip-option  [selected]="negozioCorrente === 'Disney'" (click)="selezionaNegozio('Disney')">
            <img matChipAvatar src="../../../assets/img/disneyPlus.png" alt="Disney+"/>
            Disney+
          </mat-chip-option>
        </mat-chip-listbox>
        <div class="rating-container">
          <span class="star" *ngFor="let star of stars; let i = index" (click)="rate(i + 1)">
            <mat-icon [ngClass]="{'selected-star': i < rating}">star</mat-icon>
          </span>
        </div>
      <mat-dialog-content>
          <textarea [(ngModel)]="nuovaRecensione" placeholder="Inserisci la tua recensione"></textarea> 
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button mat-dialog-close [disabled]="!nuovaRecensione || !rating " (click)="inviaRecensione()" >Invia recensione</button>
      </mat-dialog-actions>
      </div>
      <div *ngIf="mostraMessaggio">
        <p>Grazie!, hai recensito correttamente {{negozioCorrente}}</p>
      </div>
      <div *ngIf="mostraMessaggioValutazioni">
        <p (click)="OnValutazioniStreaming()" style="text-decoration: underline;">Vai alle Valutazioni della categoria Streaming</p>
      </div>
</div>
    
    