<div class="container">
      <div class="card-recensioni" *ngIf="isElettronicaPage">
      <mat-card *ngFor="let negozio of negozi" class="example-card">
          <mat-card-header>
             <img [src]="negozio.icona" alt=""width="30px">
            <mat-card-title>{{negozio.nome }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
            <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
            <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
            <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
            <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
            <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
            <span>|</span>{{negozio.numeroRecensioni}} recensioni
            </p> 
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="onRecensioni(negozio.nome)">Crea la tua Recensione</button>
            <button mat-button (click)="onValutazioni()">Guarda le recensioni</button>
          </mat-card-actions>
        </mat-card> 
        </div>
</div>

<div class="container" *ngIf="identificatore === 'streaming'" >
  <div class="card-recensioni">
    <mat-card *ngFor="let azienda of aziende" class="example-card">
      <mat-card-header>
        <img [src]="azienda.icona" alt="" width="40px">
        <mat-card-title>{{azienda.nome }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
          <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
          <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
          <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
          <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
          <span>|</span>{{azienda.numeroRecensioni}} recensioni</p> 
    </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onRecensioniStreaming(azienda.nome)">Crea la tua Recensione</button>
        <button mat-button (click)="onValutazioniStreaming()">Guarda le recensioni</button>
      </mat-card-actions>
    </mat-card> 
    </div>
</div>

<div class="container" *ngIf="identificatore === 'Ecommerce'">
  <div class="card-recensioni">
    <mat-card *ngFor="let site of sites" class="example-card">
      <mat-card-header>
        <img [src]="site.icona" alt=""width="30px">
        <mat-card-title>{{site.nome }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
          <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
          <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
          <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
          <mat-icon [ngStyle]="{'color' : color}">star</mat-icon>
          <span>|</span>{{site.numeroRecensioni}} recensioni</p> 
    </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onRecensioniEcommerce(site.nome)">Crea la tua Recensione</button>
        <button mat-button (click)="onValutazioniNegoziOnline()">Guarda le recensioni</button>
      </mat-card-actions>
    </mat-card> 
    </div>
</div>