@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
footer{background-color:#000;color:#fff;padding:80px;text-align:center;animation:fadeInUp 4s ease-out;
  margin:0;font-size:1.2em;transition:all .5s ease}
.footer-content{display:flex;justify-content:space-between;align-items:center}
.footer-content p{display:flex;align-items:center;justify-content:center}
.contact-section{color:white;cursor:pointer;transition:all .5s ease; }
.contact-section span{transition:all .4s ease;cursor:pointer}
.contact-section p{transition:all .4s ease;cursor:pointer;margin:5px;}
.contact-section span:hover{cursor: pointer;}
.contact-section p:hover{color:#0ec3ff; padding-left:5px; cursor:pointer;}
.img-fluidapp-img{background-color:#fff}

/* icon app store e icona google store*/
.appStoreEplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.download-text {color: white;margin-bottom: 10px; }
.appstore-buttons {
  display: flex;
  gap: 10px; 
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border: 2px solid rgb(189, 189, 189);
  background-color: rgb(15, 15, 15);
  border-radius: 13px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 5px;
  width: 170px;
}
.appstore-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border: 2px solid rgb(189, 189, 189);
  background-color: rgb(15, 15, 15);
  border-radius: 13px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.appstore-button svg,.appstore-buttons svg {width: 35px;}


.appstore-button svg path,.appstore-buttons svg path {
  fill: white;
  transition: all 0.3s;
}

.button-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  transition: all 0.3s;
}
.top-text {
  font-size: 11px;
  font-weight: 600;
}
.bottom-text {
  font-size: 18px;
  font-weight: 600;
}
.appstore-button:hover, .appstore-buttons:hover{
  background-color: rgb(236, 236, 236);
  border: 3px solid rgb(138, 138, 138);
}
.appstore-button:hover .button-text, .appstore-buttons:hover .button-text{
  color: black;
}
.appstore-button:hover svg path, .appstore-buttons:hover svg path {
  fill: black;
}
.social-icons{padding:0;list-style:none;margin:1em}
#wrapper span{cursor:pointer}.icon2{display:inline-block}
.smallInc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.smallInc p,.smallInc .Inc{
  margin-top: 1%;
  text-align:center; color:#7d7d7d 
}
.icon2:before{content:"";width:45px;height:45px;border-radius:100%;display:block;background:linear-gradient(45deg,#0073ff,#0a3aaa)}.icon2:hover:before{transform:scale(0);transition:all 265ms ease-in}i{color:#fff;position:absolute;top:14px;left:14px}@media screen and (max-width:640px){.Inc{position:static;text-align:center}.footer-content{padding:20px}.download-buttons{flex-direction:column;align-items:center}.footer-content p{flex-direction:column;text-align:center}.icon2 i:before{width:30px;height:30px}}@media screen and (min-width:1024px){footer{padding:80px}.footer-content{padding:0 80px}}@media screen and (max-width:480px){footer{padding:40px}.footer-content{flex-direction:column;text-align:center}.download-buttons{margin-top:20px}}#wrapper{display:flex;height:70px;width:300px}#wrapper svg{position:absolute;display:flex;width:60%;height:100%;font-size:24px;font-weight:700;opacity:1;transition:opacity .25s;z-index:2;padding:.15rem;cursor:pointer}
#wrapper .social-link1,#wrapper .social-link2,#wrapper .social-link3,#wrapper .social-link4,#wrapper .social-link5{
  position:relative;display:flex;align-items:center;justify-content:center;width:20%;color:whitesmoke;
  font-size:24px;text-decoration:none;transition:.25s}
.linkUtili{margin-top: 20px;}
.linkUtili span{ margin-right: 30px;}
.linkUtili button{
  display: flex;
  align-items: center;justify-content: center;border: 0; background: transparent;    padding: 0; color: white; cursor: pointer;
}
@media screen and (max-width: 640px) {
    footer {
      padding: 40px;
    }
    .footer-content {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }
    .contact-section p {
      flex-direction: column;
      text-align: center;
    }
    .social-link1,
    .social-link2,
    .social-link3,
    .social-link4,
    .social-link5 {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 1024px) {
    footer { padding: 80px;}
    .footer-content {padding: 0 80px;}
}
@media only screen and (max-width: 435px) {
    footer {padding: 20px;}
      .footer-content { flex-direction: column;text-align:center;padding: 10px;}
      .contact-section p {
        flex-direction: column;
        text-align: center;
      }
      .social-link1,
      .social-link2,
      .social-link3,
      .social-link4,
      .social-link5 {
        margin-top: 10px;
        font-size: 18px;
      }
      #wrapper span{
       margin: 15px 15px 15px 15px;
       display: flex;
       align-items: center;
       justify-content: center;
      }
      .Inc{
        margin-left: 50%;
      }
}