<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<div class="container-img" @fadeIn @fadeOut>
    <div class="content">
        <h1>Trova aziende affidabili.<br>Scrivi Recensioni.</h1>
    </div>
    <div class="image"></div>
</div>
<router-outlet></router-outlet>
<div style="
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    " @fadeIn @fadeOut>
  <app-carousel [autoPlay]="true" [slides]="slides"></app-carousel>
</div>

<h1 id="destinazione" @fadeIn @fadeOut>Tutte le categorie</h1>

 <div class="categorie" @fadeIn  @fadeOut>
        <a class="btn-categorie" routerLink="/dashboard/elettronica" mat-raised-button >
        <mat-icon>computer</mat-icon>
       <span>Elettronica</span> 
    </a>
    <a class="btn-categorie" routerLink="/dashboard/streaming" mat-raised-button >
        <mat-icon>cast_connected</mat-icon>
       <span>Streaming</span>
    </a>
    <a class="btn-categorie" routerLink="/dashboard/E-commerce" mat-raised-button >
        <mat-icon>business_center</mat-icon>
        <span>E-commerce</span>
    </a>
</div>
    <div class="business">
        <h3>Hai un'azienda?</h3>
        <button mat-button routerLink="/dashboard/categorie/business">Inizia ora</button>
    </div>



